@mixin centeredAllFlex($type) {
  display: $type;
  justify-content: space-between;
  align-items: center;
}
@mixin centeredHorizontalFlex($type) {
  display: $type;
  justify-content: space-between;
}
