@import '../utils/placholders';
@import '../utils/mixin';

.search-button {
  @extend %btn;
  color: #4caf50;
}

.load-more-btn {
  @extend %btn;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

//.bug {
//  @include centeredFlex(inline-flex)
//}

.load-more-btn.hidden {
  display: none;
}
